@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

/*

Sets globally constants / styles and layout.

*/

/* Global Settings */
:root {
    --primary-color: #000000;
    --secondary-color: #222222;
    --desc-color:#505050;
    --comment-color: #888888;
    --selection-color:#00000041;

    /* --dark-primary-color: #FFFFFF; */

    /*
    Layout variables 
    반응형 쿼리 추가 시 다른 곳에 작성함
    */

    --layout-width: 1100px;
    --layout-left-width: 250px;
    --layout-right-width:750px;
}

* {
    font-family: 'Noto Sans KR';
}

*::selection {
    background:var(--selection-color);
}

html, body {
    margin: 0;
    padding: 0;
}

html::-webkit-scrollbar {
    width:5px;
    background-color:#222222;
}

html::-webkit-scrollbar-thumb{
    background:#aaaaaa;
}

h1 {
    font-size:20px;
    font-weight:700;
}

h2 {
    font-size:18px;
    font-weight:600;
}

h3, h4, h5, h6 {
    font-size:16px;
    font-weight:500;
}