@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/*

Sets globally constants / styles and layout.

*/

/* Global Settings */
:root {
    --primary-color: #000000;
    --secondary-color: #252525;
    --third-color:#505050;
    --comment-color: #9b9b9b;
    --selection-color:#00000041;

    /* font variables */
    --thin:100;
    --light:300;
    --regular:400;
    --medium:500;
    --bold:600; 
    --black:800;

    --font-large:20px;
    --font-normal:16px;
    --font-small:12px;

    /* --dark-primary-color: #FFFFFF; */

    /*
    Layout variables 
    반응형 쿼리 추가 시 다른 곳에 작성함
    */

    --layout-width: 1300px;
    --content-width: 1100px;
}

* {
    font-family: 'Noto Sans KR';
}

*::selection {
    background:var(--selection-color);
}

html, body {
    margin: 0;
    padding: 0;
    overflow:overlay;
}

html::-webkit-scrollbar {
    position:absolute;
    width:5px;
    background-color:transparent;
}

html::-webkit-scrollbar-thumb{
    background:rgba(152, 152, 152, 0.4);
    border-radius: 2px;
}

h1 {
    font-size:20px;
    font-weight:700;
}

h2 {
    font-size:18px;
    font-weight:600;
}

h3, h4, h5, h6 {
    font-size:16px;
    font-weight:500;
}